
body,html{
    height: 100%;
    width: 100%;
}

/* estilos para el login*/
.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container> .login,
.main-container> .hero-body{
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}


/*Para todos los forms*/
.form-inline{
    display: inline-flex;
}